/* ResetPassword.css */

.reset-form {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reset-form h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 10px 14px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #3f51b5;
    outline: none;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}
.match-text{
     color: rgb(58, 158, 86);
    font-size: 14px;
    margin-top: 4px;
}
button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #303f9f;
}


.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-icon {
    position: absolute;
    right: 12px;
    color: #666;
    cursor: pointer;
    font-size: 18px;
}


/* Responsive Design */
@media (max-width: 500px) {
    .reset-form {
        margin: 30px 16px;
        padding: 20px;
    }
}